/*
 Base structure
 */

body {
  padding-top: 50px;
} 

.btn {
    box-shadow: none;
    border-radius: 0;
}

.sub-header {
  padding-bottom: 10px;  
  margin-top: 0px;

  float: left;
    position: relative;
}

.navbar-fixed-top {
  border: 0;
}

.btn-header {
  position: relative;
    float: right;
}

.sidebar {
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    /*padding: 20px;*/
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px; 
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.panel {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    color: #fff;
}


.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-body {
    padding: 15px;
}

label {
    color: #999;
}

.panel, .panel-heading, .panel-group .panel {
    border-radius: 0;
}

    .panel-blue {
    border-color: #428bca;
}

.panel-blue > .panel-heading {
    background: #428bca;
}


.form-control {
    box-shadow: none;
    border-radius: 0;
}


.btn-u.btn-u-blue {
    background: #428bca;
}
.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}

.form-horizontal {
    border-radius: 0;
}


.container {
  width: auto;
  max-width: 100%;
  padding-left: 233px;
}
.container .text-muted {
  margin: 20px 0;
}


.table-content {
  clear: both;
    border-top: 1px solid #eee;
}


.footer {
  position: fixed;
  clear: both;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}


.tab-v2 .nav-tabs {
  border-bottom: none;
}

.tab-v2 .nav-tabs li a {
  padding: 9px 16px;
  background: none;
  border: none;
  border-radius: 0;
  /*color: black;*/
}

.tab-v2 .nav-tabs li.active a {
  background: #fff;
  /*background-color: #428bca;*/
  padding: 7px 15px 9px;
  /*color: #428bca;*/
  border: solid 1px #eee;
  border-top: solid 2px #428bca;;
  border-bottom: none !important;
}

.tab-v2 .tab-content {
  padding: 10px 16px;
  border-top: solid 1px #eee;
}

.btn-u-default {
    background: #95a5a6;
}

.modal-body-v2 {
  padding: 0px 0px 15px 0px;
}

.btn-u.btn-u-light-green {
    background: #79d5b3;
}

.btn-u.btn-u-aqua {
    background: #27d7e7;
}

.btn-u.btn-u-dark-blue {
    background: #4765a0;
}

.modal-u-content {
    border-radius: 0;
}

.input-group-addon.border-u {
    border-radius: 0;
}

.breadcrumb-v2 {
    margin-bottom: 0px;
    border-radius: 0px;
}

.container-list-v {
    margin-bottom: 50px;
}

.btn-success-v2 {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}


.login-info {
    display: block;
    /*font-size: 12px;*/
    height: 35px;
    color: #fff;
    border: solid transparent;
    /*
    border-width: 1px 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
        */
    width: 100%;
    padding: 5px 0px 0px 7px;
    margin: 0!important;
    border-bottom: 1px solid #e4e0e0;
}

.login-info a {
    text-decoration: none!important;
    
    display: inline-block;
    /*margin-top: 6px;
        color: #c0bbb7;*/
}

/*
.login-info a span+i {
    vertical-align: middle;
}
.login-info>span {
    height: 38px;
    display: block;
    padding: 0 10px;
    border-bottom: 1px solid #1A1817;
}
    
    */