html, body{ height: 100%;font-family: 'Source Sans Pro', sans-serif;}
#menu_sucursales ul{margin-top:16px;}
#navegacion {min-width:100%;margin-left:0px;}
#contenedor{height:100%;}
#contenedor_general{height:90%;}
#contenedor_info{height:100%;padding-left:0px;}
#contenedor_datos{height:100%;background-color: whitesmoke;}
.panel-body form{width:100%; }
#container_datos{ width:50%;box-shadow: 0 0 3px #888888;}
.breadcrumb h2{color:#428bca;}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.label {
  text-anchor: middle;
}

.label rect {
  fill: white;
}

.label-key {
  font-weight: bold;
}


